@import url(https://fonts.googleapis.com/css?family=Staatliches:regular);

.review-card {
  width: 380px;
  height: 502px;
  padding: 20px;
  border: 1px solid #b6b1b1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  line-height: 35px;

  &__image {
    width: 100%;
    height: 28%;
    background-image: url("../../../companys_logo/photo_2025-05-14_09-00-06 (5).jpg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
  }
  .review-text {
    flex-grow: 1;
    position: relative;
    margin-bottom: 15px;
    &::after {
      font-family: "Staatliches", sans-serif;
      content: "\201D";
      position: absolute;
      display: block;
      width: 38px;
      height: 36px;
      bottom: -50px;
      right: -20px;
      font-weight: 400;
      font-style: normal;
      font-size: 96px;
      color: #c6c5c6;
    }
    &__text {
      height: 200px;
      font-weight: 500;
      font-size: 20px;
      color: #9b9a99;
      overflow-y: auto;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      &::-webkit-scrollbar {
        display: none; /* WebKit */
      }
    }
  }
  .reviewer-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    .reviewer_section__reviewer-photo {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 60.5px;
      height: 60.5px;
      border-radius: 50%;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/70/Fayum-71.jpg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
    }

    color: #000000;
    .reviewer__name {
      font-weight: 700;
      font-size: 24px;
    }
    .reviewer__position {
      font-weight: 500;
      font-size: 20px;
    }
  }
}
